@import "@material/card/mdc-card";

.mdc-card {
  display: flex;
  height: 350px;
  width: 350px;
}



.mdc-card__media-cover {
  background-image: url("/img/The_Pinkprint.png");
}

.mdc-card__box {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.demo-card__primary {
  padding-left: 16px;
}

.demo-card__subtitle {
  color: rgba(0,0,0,.54);
}

