@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";


.mdc-tab .mdc-tab__text-label {
  color: #fefefe;
}


.mdc-tab-bar--fixed-width {
  max-width: 50vw;
}

.mdc-tab .mdc-tab__icon {
  color: #fefefe;
}
.mdc-tab-indicator > .mdc-tab-indicator__content--underline {
background-color: #fefefe;
}
.mdc-tab__ripple::before, .mdc-tab__ripple::after {
  background-color: #fefefe;
}
.mdc-top-app-bar__section--align-start {
  max-width: 20%;
}
