.heading {

  &_1 {
    font: normal $bold-weight 2.8rem $basic-font-stack;
    color: $color-3;
    margin: 0;
  }

  &_2 {
    font: normal $bold-weight 1.6rem $basic-font-stack;
  }

  &_3 {
    font: normal $bold-weight 2rem $basic-font-stack;
  }

  &_4 {
    font: normal $regular-weight 1.75rem $basic-font-stack;
    text-transform: uppercase;
    margin-top: 0;
  }
}
