$max-width-size: 128.8rem;
$basic-font-size: 10px;
$basic-font-stack: "Open Sans", sans-serif;

$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

$color-1: #303841; /*aside*/
$color-2: #4f4f4f; /*text*/
$color-3: #ffc12d; /*yellow */

$large-break-point: 1200px;
$medium-break-point: 1060px;
$small-break-point: 840px;
$smaller-break-point: 700px;
$tiny-break-point: 400px;
