@import "@material/card/mdc-card";
@import "@material/icon-button/mdc-icon-button";

.mdc-card__media-first {
  background-image: url("../assets/img/pretty.png");
  max-height: 200px;
  width: auto;
}

.mdc-card__media-second {
  background-image: url("../assets/img/Gillete.png");
  max-height: 200px;
  width: auto;
  background-position: top;
}

.mdc-card-hidden {
  display: none;
}

.card {
  font-family: url("../assets/fonts/OpenSans.ttf");
  &__title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 1rem;
    line-height: 0;
  }

  &__brand {
    font-size: 1.2rem;
    padding-left: 1rem;
    line-height: 0;
  }

  &__description {
    font-size: 1rem;
    padding-left: 1rem;
  }
}

.mdc-button-card {
  margin: 0 2rem 1rem 2rem;
}

.material-icons {
  color: red;
}
