$container-width: 144rem;

$basic-font-size: 10px;
$basic-font-stack: "Open Sans", sans-serif, Helvetica, Arial;

$large-break-point: 1200px;
$medium-break-point: 1060px;
$small-break-point: 840px;
$smaller-break-point: 700px;
$tiny-break-point: 350px;

$mdc-theme-primary: #242424;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-secondary: #FEEAE6;
$mdc-theme-on-secondary: #442C2E;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #442C2E;
